.container-wrapper {
  width: 80%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.container {
  color: #6b7283;
  display: block;
  padding: 30px 35px 30px 35px;
  border-radius: 5px;
  border: 1px solid #cecece;
  background-color: white;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  margin-bottom: 5px;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}

#mainCity {
  text-align: center;
}
#mainTemp {
  margin-top: 0px;
  font-size: 50px;
}
.temperature-container {
  margin-left: 225px;
  display: block;
  justify-content: center;
  grid-template-columns: 60px 60px;
  grid-gap: 3px;
}

.degreesC,
.degreesF {
  padding: 0px 0px;
  color: #5a6275;
  margin-bottom: 0px 0px;
  background: transparent;
  border: none;
  font-size: 14px;
  text-decoration: none;
}
input[type="text"] {
  display: block;
  margin: 0 auto;
  width: 150px;
  border-radius: 40px;
  border-radius: 40px;
  font-size: 18px;
  padding: 15px 25px;
  color: #5a6275;
  margin-bottom: 0px 0px;
  background: transparent;
  border: 1px solid #bec2cb;
}
.search {
  display: block;
  margin: 0 auto;
  font-size: 13px;
  margin-top: 0px;
  color: #5a6275;
  background: transparent;
  border: none;
}

#date {
  text-align: center;
  display: block;
  margin: 0 auto;
}
h1,
h2 {
  text-align: center;
  text-transform: capitalize;
}
.weather-forecast {
  margin-top: 10px;
  text-align: center;
  color: black;
}
.weather-forecast-day {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temp {
  font-size: 13px;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}

.weather-img {
  display: block;
  margin: 0 auto;
}

.city-form {
  border-radius: 40px;
  font-size: 18px;
  padding: 15px 25px;
  color: #5a6275;
  margin-bottom: 0px 0px;
  background: transparent;
}
li,
ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.weather-pics {
  width: 34px;
  padding: 20px 10px 20px 0px;
  margin-left: 6px;
}
.temperature-container .active {
  color: #5a6275;
  cursor: default;
  text-decoration: none;
}
.temperature-container .active:hover {
  cursor: default;
  text-decoration: none;
}
a {
  text-decoration: none;
}
